@model MusicWebApp.Areas.Admin.ViewModels.Music.UpdateMusicViewModel

@{
    TempData["title"] = "آپدیت";
}

<h1>Update</h1>

<h4>UpdateMusicViewModel</h4>
<hr />
@{
    var music = ViewData["music"] as Music;
}
<div class="card card-success m-3 ">


    <form enctype="multipart/form-data" asp-area="admin" asp-controller="Music"
          asp-action="Update">
        <div class="card-header">
            <h3 class="card-title">@TempData["Title"]</h3>
        </div>
        <div class="card-body p-2">

            <div class="row">
                <div class="col-md-6">
                    <div clas="form-group">
                        <label for="Name">نام موزیک</label>
                        <input type="text" id="Name" class="form-control" asp-for="Name" value="@music.Name" class="form-control">
                        <span asp-validation-for="Name"></span>
                    </div>


                </div>
                <div class="col-md-6">
                </div>

            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>انتخاب تاریخ:</label>

                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="fa fa-calendar"></i>
                                </span>
                            </div>
                            <input asp-for="Date" value="@music.Date" class="normal-example form-control pwt-datepicker-input-element">
                            <span asp-validation-for="Date"></span>
                        </div>
                        <!-- /.input group -->
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        @{
                            var genre = music.Genre;
                            var genres = ViewData["Genres"] as List<Genre>;
                            <label>سبک</label>
                            <select asp-for="Genre" class="form-control">
                                @if (genre == null)
                                {
                                    <option selected>انتخاب کنید</option>
                                    @foreach (var item in genres)
                                    {
                                        <option>@item.GenreName</option>
                                    }
                                }
                                else
                                {

                                    @foreach (var item in genres)
                                    {
                                        if (genre.GenreName == item.GenreName)
                                        {
                                            <option selected>@item.GenreName</option>
                                        }
                                        else
                                        {
                                            <option>@item.GenreName</option>
                                        }
                                    }
                                }
                            </select>


                        }
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        @{
                            var singers = ViewData["singer"] as List<Singer>;
                            var s = music.Singer;
                            <label>خواننده</label>
                            <select class="form-control" asp-for="Singer">
                                @if (s == null)
                                {
                                    <option selected>انتخاب کنید</option>
                                    @foreach (var singer in singers)
                                    {
                                        <option>@($"{singer.ArtistId}-{singer.Artist.Name}-{singer.Artist.LastName}")</option>
                                    }

                                }
                                else
                                {
                                    <option>انتخاب کنید</option>
                                    @foreach (var singer in singers)
                                    {
                                        if (singer.ArtistId == s.Artist.Id)
                                        {
                                            <option selected>@($"{singer.ArtistId}-{singer.Artist.Name}-{singer.Artist.LastName}")</option>
                                        }
                                        else
                                        {
                                            <option>@($"{singer.ArtistId}-{singer.Artist.Name}-{singer.Artist.LastName}")</option>
                                        }
                                    }
                                }

                            </select>
                        }
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        @{
                            var songwriters = ViewData["songwriter"] as List<SongWriter>;
                            var writer = music.SongWriter;
                            <label>شاعر</label>
                            <select class="form-control" asp-for="SongWriter">
                                @if (writer == null)
                                {
                                    <option selected>انتخاب کنید</option>
                                    @foreach (var songwiter in songwriters)
                                    {
                                        <option>@($"{songwiter.ArtistId}-{songwiter.Artist.Name}-{songwiter.Artist.LastName}")</option>
                                    }
                                }
                                else
                                {
                                    <option>انتخاب کنید</option>
                                    @foreach (var songwriter in songwriters)
                                    {
                                        if (songwriter.Artist.Id == writer.Artist.Id)
                                        {
                                            <option selected>@($"{songwriter.ArtistId}-{songwriter.Artist.Name}-{songwriter.Artist.LastName}")</option>
                                        }
                                        else
                                        {
                                            <option>@($"{songwriter.ArtistId}-{songwriter.Artist.Name}-{songwriter.Artist.LastName}")</option>
                                        }
                                    }
                                }
                            </select>
                        }
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        @{
                            var composers = ViewData["composer"] as List<Composer>;
                            <label>آهنگ ساز</label>
                            <select class="form-control" asp-for="Composer">
                                <option selected> انتخاب کنید</option>
                                @foreach (var composer in composers)
                                {
                                    <option>@($"{composer.ArtistId}-{composer.Artist.Name}-{composer.Artist.LastName}")</option>
                                }
                            </select>
                        }
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        @{
                            var arrengements = ViewData["arrengment"] as List<Arrangement>;
                            <label>تنظیم کننده</label>
                            <select class="form-control" asp-for="Arrengement">
                                <option selected>انتخاب کنید</option>
                                @foreach (var arrengement in arrengements)
                                {
                                    <option>@($"{arrengement.ArtistId}-{arrengement.Artist.Name}-{arrengement.Artist.LastName}")</option>
                                }

                            </select>
                        }
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">

                    <div class="form-group">
                        <label asp-for="Image" class="control-label">کاور موزیک</label>
                        <div class="custom-file">
                            <input asp-for="Image" class="custom-file-input" id="customFile">
                            <label class="custom-file-label" for="customFile">انتخاب عکس</label>
                        </div>
                        <span asp-validation-for="Image" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">

                    <div class="show-image-selected">
                        <img width="100" id="selected-image" />
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-md">
                    <div class="form-group">
                        <label>لینک 128</label>
                        <input type="text" asp-for="url128" class="form-control ">
                        <span asp-validation-for="url128"></span>
                    </div>
                </div>
                <div class="col-md">
                    <div class="form-group">
                        <label>لینک 320</label>
                        <input type="text" asp-for="url320" class="form-control ">
                        <span asp-validation-for="url320"></span>
                    </div>
                </div>
            </div>


        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-primary">ارسال</button>
        </div>
        <script src="~/MusicJs/InsertMusic.js"></script>
    </form>
    <!-- /.card-body -->

    <div>
        <a asp-action="Index">Back to List</a>
    </div>

